html {
	padding:0 !important;
	margin:0 !important;
}

body {
	padding:0;
	margin:0;
	font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
	font-size: 1.1rem;
	line-height: 1.5;
	text-align: left;
	color: #333333;
	background-color: #f3f2f1;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
    font-weight: 300;
    line-height: 1.1;
    color: inherit;
}

small, .small {
    font-size: 88%;
}

body a {
    color: #053482;
    text-decoration: none;
}

#dul-masthead-dul-megamenu {
		max-width: 1220px !important;
}

.wrapper {
	width: 100%;
	padding: 0;
	max-width: 480px;
	margin: 0 auto;
}


.content h1 {
	color: #333;
	font-weight: normal;
	margin: .5em 0 .5em 0;
}

.dotted {
	border-top: #ddd dotted 1px;
}

legend {
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 1em;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 12px;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.sidebar {
    padding: 1.5rem;
		background-color: #e9ecef;
		border-top: 3px solid #ddd;
}

.header {
	width: 100%;
	background-color: #053482;
}

.footer {
	width: 100%;
	margin-top: 20px;
}


/* Forms */

.required label:after {
	color: red;
	content: ' *';
	display: inline;
}

.required .form-check label:after {
	content: '';
}


/* Buttons */

.btn-primary {
	color: #ffffff;
	background-color: #053482;
	border-color: #053482;
}

.btn-primary:hover {
	background-color: #031d48;
	border-color: #031a41;
}

.btn-outline-primary {
	color: #053482;
	border-color: #053482;
}

.btn-outline-primary:hover {
    color: #ffffff;
    background-color: #053482;
    border-color: #053482;
}

.home-buttons .svg-inline--fa {
	font-size: 1.25em;
  opacity: .7;
  margin-right: 0.25em;
  display: b;
  margin-bottom: -0.1em;
}


/* Breadcrumbs */

#breadcrumbs {
	font-size: 1rem;
	margin-top: 2px;
}

.breadcrumb-item+.breadcrumb-item {
	padding-left: 0.35rem;
}

#breadcrumbs ol.breadcrumb {
		background-color: #f3f2f1;
		margin-bottom: 0;
}

.breadcrumb-item + .breadcrumb-item::before {
	content: ">";
	padding-right: 0.25rem;
	float: left;
	color: #666666;
}


/* Footer */
#footer {
	font-size: 1rem;
	margin-top: 20px;
	margin-bottom: 20px;
}

#footer a {
	color: #222;
}

#footer h2 {
	border-bottom: 1px dotted #aaa;
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
	font-size: 22px;
	font-weight: 400;
}

#footer ul li {
	line-height: 1.25rem;
  margin-bottom: 0.5rem;
}

#footer .social-media-icons {
	margin-top: 0;
	padding-bottom: 13px;
	margin-bottom: 10px;
	overflow: hidden;
	border-bottom: 1px dotted #aaa;
  font-size: 22px;
  font-weight: 400;
}

#footer .social-media-icons a {
	float: left;
	margin-right: 6px;
}

#footer .social-media-icons a svg {
	height: 1.4rem;
	width: 1.4rem;
	color: #666;
}

#footer .social-media-icons a svg:hover.fa-twitter {
	color: #1da1f2;
}

#footer .social-media-icons a svg:hover.fa-facebook {
    color: #4267b2;
}

#footer .social-media-icons a svg:hover.fa-youtube {
	color: #ff0000;
}


#footer .social-media-icons a svg:hover.fa-flickr {
    color: #ec0f80;
}


#footer .social-media-icons a svg:hover.fa-instagram {
    color: #7324c2;
}

#footer .social-media-icons a svg:hover.fa-rss-square {
	color: #e27800;
}


/* MQs */

@media (min-width: 1360px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl {
			max-width: 1220px;
	}
}






.element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    overflow: hidden;
    height: 1px;
}

.element-invisible.element-focusable:active, 
.element-invisible.element-focusable:focus {
    position: static !important;
    clip: auto;
    overflow: visible;
    height: auto;
}


/*/ ALERTS /*/
.alert-warning {
	color: #7e653b
}

.alert-warning .alert-link {
    color: #66512c;
		text-decoration: underline;
}
